.container {
    
    display: flex;
    flex-direction: column;
    border: 0.2rem solid black;
    border-radius: 1rem;
    padding: 1rem;
}

.cardHolder{
    display: flex;
    flex-wrap: wrap;
    
    flex: 1;
}


