html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.cardLogo{
  height: 1.5rem;
  margin-right: 0.5rem;
  /*display: inline;*/
}
.cardTitle{
  display: flex;
  align-items: center;
}
.card{
  border: 0.2rem solid black;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 30rem;
   margin: 1rem;
}
.portfolioImage{
  display: flex;
  justify-content: center;
  height: 10rem;
  
}

.portfolioImage img{
  min-height: 10rem;
  max-width: 29rem;
  border-radius: 2rem;
  padding-bottom: 1rem;
}